<a href="https://colab.research.google.com/github/sai-phyo-hein/Hybrid_Transformer_for_Portfolio_Allocation/blob/main/EDA_and_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
selected_eq = [
    'AXISBANK', 'BHARTIARTL', 'HDFCBANK', 'ICICIBANK', 'INFY', 'ITC', 'LT',
    'RELIANCE', 'SBIN', 'TATAMOTORS', 'TATASTEEL', 'TCS'
]
selected_commo = [
    'ONGC', 'RELIANCE', 'TATASTEEL', 'VEDL'
]

In [2]:
import pandas as pd
import duckdb as ddb
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
eq_data = pd.DataFrame()
con = ddb.connect('/content/drive/MyDrive/MScFE Capstone Project /MScFE_Capstone_Project_Group_Work/DataSource/nifty_50_dataset.db')
for i, eq in enumerate(selected_eq):
    temp = con.sql(f'select TIMESTAMP, CH_CLOSING_PRICE from {eq}').df()
    temp.columns = ['timestamp', eq]
    print(temp.timestamp.min())
con.close()

2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z
2013-12-31T18:30:00.000Z

In [8]:
con = ddb.connect('/content/drive/MyDrive/MScFE Capstone Project /MScFE_Capstone_Project_Group_Work/DataSource/nifty_50_dataset.db')
con.sql('select * from AXISBANK order by TIMESTAMP').df()

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,CH_LAST_TRADED_PRICE,CH_PREVIOUS_CLS_PRICE,...,CH_ISIN,CH_TIMESTAMP,TIMESTAMP,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP,CA
0,641ea677adde0b0007cf7dc2,AXISBANK,EQ,N,1305.0,1288.2,1301.5,1292.2,1293.25,1299.55,...,INE238A01026,2014-01-01,2013-12-31T18:30:00.000Z,2023-03-25T07:44:55.486Z,2023-03-25T07:44:55.486Z,0,None,1293.87,01-Jan-2014,nan
1,641ea681de5deb00074beb68,AXISBANK,EQ,N,1325.0,1263.35,1292.0,1272.3,1264.95,1292.2,...,INE238A01026,2014-01-02,2014-01-01T18:30:00.000Z,2023-03-25T07:45:05.451Z,2023-03-25T07:45:05.451Z,0,None,1301.48,02-Jan-2014,nan
2,641ea68b353f0e0007d1d9cc,AXISBANK,EQ,N,1269.5,1245.6,1258.0,1260.9,1264.15,1272.3,...,INE238A01026,2014-01-03,2014-01-02T18:30:00.000Z,2023-03-25T07:45:15.488Z,2023-03-25T07:45:15.488Z,0,None,1256.26,03-Jan-2014,nan
3,641ea6950125d80007464ed1,AXISBANK,EQ,N,1262.0,1241.6,1257.55,1256.3,1257.0,1260.9,...,INE238A01026,2014-01-06,2014-01-05T18:30:00.000Z,2023-03-25T07:45:25.708Z,2023-03-25T07:45:25.708Z,0,None,1251.92,06-Jan-2014,nan
4,641ea69f4334450007b56b5e,AXISBANK,EQ,N,1265.8,1215.5,1257.5,1234.25,1235.0,1256.3,...,INE238A01026,2014-01-07,2014-01-06T18:30:00.000Z,2023-03-25T07:45:35.582Z,2023-03-25T07:45:35.582Z,0,None,1231.23,07-Jan-2014,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2607,65fc217eac280a1df6bce4a6,AXISBANK,EQ,N,1050.55,1028.15,1039.35,1035.6,1041.85,1034.75,...,INE238A01034,2024-03-21,2024-03-20T18:30:00.000Z,2024-03-21T12:01:02.850Z,2024-03-21T12:01:02.850Z,0,None,1037.64,21-Mar-2024,nan
2608,65fd72dbb19be7cbf8a58f48,AXISBANK,EQ,N,1047.25,1029.95,1040.1,1033.3,1031.0,1035.6,...,INE238A01034,2024-03-22,2024-03-21T18:30:00.000Z,2024-03-22T12:00:27.528Z,2024-03-22T12:00:27.528Z,0,None,1038.24,22-Mar-2024,nan
2609,6602db37f04eb262462f5b22,AXISBANK,EQ,N,1044.2,1027.5,1029.0,1040.55,1043.0,1033.3,...,INE238A01034,2024-03-26,2024-03-25T18:30:00.000Z,2024-03-26T14:27:03.516Z,2024-03-26T14:27:03.516Z,0,None,1037.47,26-Mar-2024,nan
2610,66040cccf79bf22bf30dfba3,AXISBANK,EQ,N,1057.55,1044.25,1045.8,1052.85,1052.0,1040.55,...,INE238A01034,2024-03-27,2024-03-26T18:30:00.000Z,2024-03-27T12:10:52.541Z,2024-03-27T12:10:52.541Z,0,None,1050.31,27-Mar-2024,nan
2611,66055bff7a3e097b6f8584a5,AXISBANK,EQ,N,1058.4,1044.1,1052.85,1047.2,1046.5,1052.85,...,INE238A01034,2024-03-28,2024-03-27T18:30:00.000Z,2024-03-28T12:01:03.121Z,2024-03-28T12:01:03.121Z,0,None,1050.27,28-Mar-2024,nan

In [4]:
del eq_data

In [6]:
con.close()